<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href=' http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="article">
  <div class="article-title"><%= @article.title %></div>
  <div class="article-author"><%= "#{@article.author} | #{@article.published.to_date.to_s(:rfc822)}" %></div>
  <%= @html.try(:html_safe) %>
</div>
</body>
</html>