.main-container {
    width: 40%;
    margin: auto;
    font-family: 'Sorts Mill Goudy', Georgia;
}

.article-title {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    margin: 3% 0 2%  0;
}

.article-author {
    color: #999999;
    text-transform: uppercase;
    text-align: center;
    margin: 3% 0 3% 0;
}

.article-content {
    font-size: 1.7rem;
}

.length-settings > *, .align-settings > *{
    display: inline-block;
    width: 10%;
    height: auto;
    margin: 5% .2% 0 0.2%;
}

.length-settings > *:focus, .align-settings > *:focus {
    outline: 0;
}

.length-settings, .align-settings {
    display: inline-block;
    width: 50%;
}

.length-settings {
    float: left;
}

.settings {
    text-align: center;
}


