.main-container {
    width: 50%;
    margin: auto;
    font-family: 'Sorts Mill Goudy', Georgia, sans-serif;
    font-variant-numeric: lining-nums;
}

.article-title {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    margin: 3% 0 2%  0;
}

.article-header {
    color: #999999;
    text-align: center;
    margin: 3% 0 3% 0;
}

.article-author {
    text-transform: uppercase;
}

.article-header >* {
    display: inline-block;
}

.article-content {
    font-size: 1.7rem;
    text-align: justify;
}

.length-settings > *, .align-settings > *{
    display: inline-block;
    width: 10%;
    height: auto;
    margin: 2% 0.2% 0 0.2%;
}

.length-settings > *:focus, .align-settings > *:focus {
    outline: 0;
}

.length-settings, .align-settings {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.length-settings {
    float: left;
}

img {
    max-width: 100%;
    max-height: 100%;
    float: right;
    padding: 1rem 1rem 1rem 1rem;
}

